<body>
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" routerLink="/">E-Ticaret App</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
      data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a *ngIf="isLoggedIn()==false" class="nav-link" routerLink="/login">
          Giriş Yap
        </a>

        <a (click)="logOut()" *ngIf="isLoggedIn()==true" class="nav-link">
          Çıkış Yap
        </a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" routerLink="/products">
                <span data-feather="home"></span>
                Mağaza <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/product-add-1">
                <span data-feather="file"></span>
                Ürün Ekle / Klasik Form
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/product-add-2">
                <span data-feather="shopping-cart"></span>
                Ürün Ekle / Reactive Form
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

        <router-outlet></router-outlet>

      </main>
    </div>
  </div>
</body>